.cart-widget {
    font-size: 25px;

}

.span-costum {
    border: solid 1px white;
    border-radius: 15px;
    text-decoration: none; 
    
}

/* quiero que el underline se vaya. como hago?  No me toma la propiedad*/