/* .navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: cornflowerblue;
}

ul {
    display: flex;
    align-items: center;
}

li {
    padding: 5px;
    list-style: none;
} */